{% extends 'base.html' %}

{% block title %}Items List{% endblock %}

{% block content %}
    <h2>Items List</h2>
    <hr/>
    <a href="{% url 'item-create' %}" class="btn btn-primary mb-3">Create New Item</a>
    <hr/>
    {% for item in items %}
        <ul>
            <li><b>{{ item.name }}</b></li>
            <li>{{ item.description }}</li>
            <li>{{ item.quantity }}</li>
            <li>{{ item.rarity }}</li>
        </ul>
        <hr/>
        {% empty %}
            <li>No items available</li>
        {% endfor %}
{% endblock %}
